<!DOCTYPE html>
<html>
    <head>
        <title>AAU SAT Webcam stream</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="icon" href="{{ url_for('favicon') }}" type="image/x-icon">

        <header>
          <nav>
            <div class="logo"><a href="/">AAU SAT Mission control</a></div>
            <ul class="nav-links">
              <li><a href="/">Home</a></li>
              <li><a href="/webcam">Webcam stream</a></li>
            </ul>
          </nav>
        </header>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <style>
            .video-container {
                max-width: 920px;
                margin: auto;
            }
            video {
                width: 100%;
                height: auto;
            }
        </style>
    </head>

    
    <body>
    
    <div class="video-container">
        <video id="videoPlayer" controls autoplay></video>
    </div>

        <footer>
          <p>©Copyright <a href="https://github.com/Ramlov/P3-Project">AAU COMTEK GRP 351</a></p>
        </footer>
        <script>
          var video = document.getElementById('videoPlayer');
          var videoSrc = 'http://aausat-roof1.space.aau.dk:8000/stream.m3u8';
      
          if (Hls.isSupported()) {
              var hls = new Hls();
              hls.loadSource(videoSrc);
              hls.attachMedia(video);
              hls.on(Hls.Events.MANIFEST_PARSED, function() {
                  video.play();
              });
          }
          else if (video.canPlayType('application/vnd.apple.mpegurl')) {
              video.src = videoSrc;
              video.addEventListener('loadedmetadata', function() {
                  video.play();
              });
          }
      </script>
      </body>
</html>
