<!DOCTYPE html>
<html>
    <head>
        <title>AAU SAT Webcam stream</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="icon" href="{{ url_for('favicon') }}" type="image/x-icon">

    </head>

    <body>
        <header>
          <nav>
            <div class="logo"><a href="/">AAU SAT Mission control</a></div>
            <ul class="nav-links">
              <li><a href="/">Home</a></li>
              <li><a href="/webcam">Webcam stream</a></li>
            </ul>
          </nav>
        </header>
        
        <video id="video" autoplay></video>
        <script>
            const video = document.getElementById('video');
    
            // Use navigator.mediaDevices to access the webcam
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    video.srcObject = stream;
                })
                .catch(error => {
                    console.error('Error accessing webcam:', error);
                });
        </script>



        <footer>
          <p>©Copyright <a href="https://github.com/Ramlov/P3-Project">AAU COMTEK GRP 351</a></p>
        </footer>
        <script src="/static/script.js"></script
      </body>
</html>
